extends layout-bootstrap

block body
	
	.position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light
		.col-md-5.p-lg-5.mx-auto.my-5
			h1.display-4.font-weight-normal Welcome to Dimpl
			p.lead.font-weight-normal Description of our website 
		.product-device.box-shadow.d-none.d-md-block
		.product-device.product-device-2.box-shadow.d-none.d-md-block

	//- Block 1
	
	.row.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
		.col-md.bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
			.my-3.py-3
				h2.display-5 Another headline 
				p.lead Procduct Description 
			.bg-light.box-shadow.mx-auto(style = 'width: 80%; height: 300px; border-radius: 21px 21px 0 0;')

		.col-md.bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
			.my-3.p-3
				h2.display-5 Another headline 
				p.lead Procduct Description 
			.bg-dark.box-shadow.mx-auto(style = 'width: 80%; height: 300px; border-radius: 21px 21px 0 0;')
		

	//- Block 2
	.row.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
		.col-md.bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
			.my-3.py-3
				h2.display-5 Another headline 
				p.lead Procduct Description 
			.bg-light.box-shadow.mx-auto(style = 'width: 80%; height: 300px; border-radius: 21px 21px 0 0;')

		.col-md.bg-primary.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
			.my-3.p-3
				h2.display-5 Another headline 
				p.lead Procduct Description 
			.bg-light.box-shadow.mx-auto(style = 'width: 80%; height: 300px; border-radius: 21px 21px 0 0;')


	//- Block 3
	.row.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
		.col-md.bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
			.my-3.py-3
				h2.display-5 Another headline 
				p.lead Procduct Description 
			.bg-light.box-shadow.mx-auto(style = 'width: 80%; height: 300px; border-radius: 21px 21px 0 0;')

		.col-md.bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
			.my-3.p-3
				h2.display-5 Another headline 
				p.lead Procduct Description 
			.bg-dark.box-shadow.mx-auto(style = 'width: 80%; height: 300px; border-radius: 21px 21px 0 0;')
		
	

		

			
