doctype html
html
	head
		title= title || 'Dimpl'
		meta(charset='utf8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		//- meta(name='viewport' content='width
		link(rel='stylesheet' href='style.css')
		link(rel='stylesheet' href='//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		block styles
		block scripts
	body
		nav.navbar.navbar-expand-lg.navbar.bg-white.shadow-sm.border-bottom.mb-5
			.container
				a.navbar-brand.text-dark(href='/') Dimpl
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#topNavbar' aria-controls='topNavbar' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#topNavbar.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item.active
							a.nav-link.text-dark(href='/') Home 
						li.nav-item
							a.nav-link.text-dark(href='/profile') Profile 
						li.nav-item
							a.nav-link.text-dark(href='/listing') Listings 
						//- li.nav-item
						//- 	a.nav-link.text-dark(href='/login') Metamask

					button.nav-link.text-dark.btn.btn-link.inline(type='button' id='loginMetamask') Metamask 
						sub#connection (Not Connected)
		.container
			
			block body
			
			block footer		

		script(src='//code.jquery.com/jquery-3.3.1.slim.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
		script(src='//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
		script. 
				
				window.userWalletAddress = null
				const loginButton = document.getElementById('loginMetamask')
				const userWallet = document.getElementById('connection')
				function toggleButton() {
					if (!window.ethereum) {
						loginButton.innerText = 'MetaMask is not installed'
						loginButton.classList.remove('bg-pink-500', 'text-white')
						loginButton.classList.add('bg-gray-500', 'text-gray-100', 'cursor-not-allowed')
						return false
					}
					loginButton.addEventListener('click', loginWithMetaMask)
				}
				async function loginWithMetaMask() {
					const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' }).catch((e) => {
						console.error(e.message)
						return
					})
					if (!accounts) { return }
					window.userWalletAddress = accounts[accounts.length - 1];
					userWallet.innerText = '(Connected)'
					
				}

				
				window.addEventListener('DOMContentLoaded', (event) => {
					toggleButton();
				}); 

