extends layout-bootstrap

block body
	a.btn.btn-primary.mt-2.ml-4(href='/listing_create') Create Listing
	.row
		each item in context
			- var listing = item.dataValues
			- var title = listing.title
			- var description = listing.description
			- var author = listing.author_id
			- var price = listing.price 
			- var deposit = listing.deposit
			- var status = listing.status
			- var date = listing.createdAt 

			.col-md-4.p-3
				.card.mx-auto(style = "width: 18rem;")
					img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
					.card-body
						h5.card-title=title 
						p.card-text=description
						p.card-text= "Price : " + price
						p.card-text= "Deposit : " + deposit
						a.btn.btn-primary.mt-2(href='/listing/' + listing.id) More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- .row 
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- .row 
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
		