extends layout-bootstrap

block body
	.row 
		.col-md-4.p-3
			.card(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					a.btn.btn-primary(href='#') More
		.col-md-4.p-3
			.card(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					a.btn.btn-primary(href='#') More
		.col-md-4.p-3
			.card(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					a.btn.btn-primary(href='#') More
	.row 
		.col-md-4.p-3
			.card(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					a.btn.btn-primary(href='#') More
		.col-md-4.p-3
			.card(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					a.btn.btn-primary(href='#') More
		.col-md-4.p-3
			.card(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					a.btn.btn-primary(href='#') More
	.row 
		.col-md-4.p-3
			.card(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					a.btn.btn-primary(href='#') More
		.col-md-4.p-3
			.card(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					a.btn.btn-primary(href='#') More
		.col-md-4.p-3
			.card(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					a.btn.btn-primary(href='#') More
		