extends layout-bootstrap

block body
	.row
		.col-md-4.p-3
			.card.mx-auto(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description
					p.card-text Price: 5 ETH
					a.btn.btn-primary.mt-2(href='/pay') More
		.col-md-4.p-3
			.card.mx-auto(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					p.card-text Price: 5 ETH
					a.btn.btn-primary.mt-2(href='/pay') More
		.col-md-4.p-3
			.card.mx-auto(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					p.card-text Price: 5 ETH
					a.btn.btn-primary.mt-2(href='/pay') More
	.row 
		.col-md-4.p-3
			.card.mx-auto(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					p.card-text Price: 5 ETH
					a.btn.btn-primary.mt-2(href='/pay') More
		.col-md-4.p-3
			.card.mx-auto(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					p.card-text Price: 5 ETH
					a.btn.btn-primary.mt-2(href='/pay') More
		.col-md-4.p-3
			.card.mx-auto(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					p.card-text Price: 5 ETH
					a.btn.btn-primary.mt-2(href='/pay') More
	.row 
		.col-md-4.p-3
			.card.mx-auto(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					p.card-text Price: 5 ETH
					a.btn.btn-primary.mt-2(href='/pay') More
		.col-md-4.p-3
			.card.mx-auto(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					p.card-text Price: 5 ETH
					a.btn.btn-primary.mt-2(href='/pay') More
		.col-md-4.p-3
			.card.mx-auto(style = "width: 18rem;")
				img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
				.card-body 
					h5.card-title Title 
					p.card-text Description 
					p.card-text Price: 5 ETH
					a.btn.btn-primary.mt-2(href='/pay') More
		