extends layout-bootstrap

block body
    .container
        .row 
            .col-md-8
                .row
                    .col
                        //- user Information 
                        .card.mb-3 
                            .card-header User Information 
                            ul.list-group.list-group-flush
                                li.list-group-item Username: Ammar Almajed 
                                li.list-group-item Wallet Adress: 
                                    p#from 0x37955D7Cb7801aa7C99506626c26b04E44AC7161
                                li.list-group-item Phone Number: +966 5x xxx xxxx
                                li.list-group-item Ship to : Address here
                .row
                    .col
                        //- Seller Information
                        .card.mb-3 
                            .card-header Seller Information 
                            ul.list-group.list-group-flush
                                li.list-group-item Seller Name: Korean guy
                                li.list-group-item Seller Wallet Adress: 
                                    p#to 0xba87D84a63A38ece49668b148405e09d8aa3FD8d
                .row 
                    .col 
                        //- purchase button
                        a#purchase.btn.btn-dark.mx-auto(href = '#' style = 'width: 100%; color: white;') Purchase

            .col-md-4 
                //- product information 
                .card 
                    img.card-img-top(src="https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg")
                    .card-body
                        h3.card-title Product Name 
                        h5#price.card-subtitl Price: 5 ETH
                        p.card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta consectetur modi exercitationem perspiciatis, ratione commodi laboriosam quae molestias repellendus corrupti, quibusdam pariatur veritatis cupiditate, quam nihil adipisci officia! Ipsa, commodi.


                    
                        
                    

