extends layout-bootstrap

block body
    .container
        .row 
            .col-8
                .row
                    .col 
                        .card.mb-3
                            .card-header User Information 
                            ul.list-group.list-group-flush
                                li.list-group-item Username: Ammar Almajed 
                                li.list-group-item Wallet Adress: Wallet Adress here
                                li.list-group-item Phone Number: +966 5x xxx xxxx
                                li.list-group-item Ship to : Address here
                .row
                    .col
                        .card.mb-3
                            .card-header Seller Information 
                            ul.list-group.list-group-flush
                                li.list-group-item Price: 100$
                                li.list-group-item Seller Name: Korean guy
                                li.list-group-item Seller Wallet Adress: Wallet Adress here
                .row 
                    .col 
                        a.btn.btn-dark.mx-auto(href = '/succeed' style = 'width: 100%; color: white;') Purchase

            .col-4 
                .card 
                    img.card-img-top(src="https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg")
                    .card-body
                        h5.card-title Product Name 
                        p.card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta consectetur modi exercitationem perspiciatis, ratione commodi laboriosam quae molestias repellendus corrupti, quibusdam pariatur veritatis cupiditate, quam nihil adipisci officia! Ipsa, commodi.
                    
                    
                        
                    

