extends layout-bootstrap

block body
	
	
	.row
		.col-md-3
			img.rounded-circle.img-fluid(src='https://img.freepik.com/premium-vector/man-profile-cartoon_18591-58482.jpg?w=2000' style="height: 100%; width: 100%;")
		.col-md-9.align-self-center
			h2.text-md-left Ammar Almajed (AlmajedA)
			p(style ='font-size: 1.5em') My Wallet Address : 
	
			