extends layout-bootstrap

block body
    .container 
        .row 
            .col
                h5 Thank You! 
                p You successfully purchase the item and it will be shipped to you as soon as possible.